<div>
  <div>
    <h1>
      My Bottles
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h4>
      Add a new bottle
    </h4>

    <form action="/insert_bottle" method="post">
      <div>
        <label for="alcohol_id_box">
          Alcohol
        </label>

        <select id="alcohol_id_box" name="query_alcohol_id">
          <% Alcohol.all.order(:name).each do |a_alcohol|%>
            <option value=<%= a_alcohol.id %>>
              <%= a_alcohol.name.capitalize %>
            </option>
          <% end %>
        </select>
      
        <button class="btn btn-outline-secondary btn-sm">
          Add bottle to bar
        </button>
      </div>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <table class="table table-hover table-striped col-12">
      <thead class="thead-dark">    

        <th>
          Alcohol
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_bottles.each do |a_bottle| %>
      <tr>   

        <td>
          <%= a_bottle.alcohol.name.capitalize %></a>
        </td>

        <td>
          <form action="/delete_recipe/<%= a_bottle.id %>">
            <button class="btn btn-danger btn-sm">
              Remove bottle
            </button>
          </form>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
