<div class="col-2"></div>
<div class="jumbotron text-center">
  <h1>
    Cocktail Database Project
  </h1>

  <p>
    Welcome to the Cocktail Database Project!
  </p>

  <p>
    This is an educational project to practice Ruby on Rails. In creating this app, I hope to address issues I have run into when selecting a cocktail recipe: finding a random cocktail recipe and finding only recipes that I have the ingredients for.
  </p>

  <p>
    Once you have signed in, you can add bottles of alcohol to your bar. Viewing your bar menu will then show you only recipes for which you have the necessary alcohols. If you don't want to browse, click the random recipe option in your bar and the system will show you a random cocktail for which you have the necessary alcoholic ingredients.
  </p>

  <p>
    You can view recipes unrelated to your bar inventory by clicking the navigation links outside of your bar.
  </p>

  <p>
    The initial list of recipes come from the International Bartenders Association's official list. IBA Official recipes are marked thorughout the app with the ribbon icon below. To learn more about the IBA, please visit their <a href="https://iba-world.com/" target="_blank">official website</a> IBA recipes use the metric system, but have been converted to U.S. measurements here.
  </p>

  <div class="h1">
    <i class="fas fa-award" style="color: goldenrod;"></i>
  </div>

  <p>
    To get started, sign in or sign up below!
  </p>

  <br>

  <div>
    <form action="/user_sign_in">
      <button class="btn btn-secondary btn-lg btn-block"">
        Sign In
      </button>
    </form>
  </div>
  
  <br>

  <div>
    <form action="/user_sign_up">
      <button class="btn btn-secondary btn-lg btn-block"">
        Sign Up
      </button>
    </form>
  </div>

</div>
<div class="col-2"></div>

<hr>

<div class="container justify-content-center text-center">
  <p class="badge badge-pill badge-warning">
    <strong>Notice:</strong>
    This app is in development and data is reset every hour on the hour.
  </p>
</div>