<div class="container justify-content-center">

  <div class="mb-3 col-12">
    <h4 class="text-center">
      Add new alcohol type
    </h4>

    <form action="/insert_alcohol" method="post">
      <div class="input-group mb-3 col-12">
        <input type="text" id="name_box" name="query_name" class="form-control col-9" placeholder="Alcohol type, ie: whiskey, not Jack Daniels" aria-label="Alcohol type, ie: whiskey" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary col-3">Add Alcohol</button>
      </div>
    </form>

  </div>

</div>


